.icons {
  -webkit-transform: rotate(90deg) translateY(-30%) scale(0.8);
  -moz-transform: rotate(90deg) translateY(-30%) scale(0.8);
  -o-transform: rotate(90deg) translateY(-30%) scale(0.8);
  -ms-transform: rotate(90deg) translateY(-30%) scale(0.8);
  transform: rotate(90deg) translateY(-30%) scale(0.8);
  display: block;
  //   background-color: #028953;
}
