.aside {
  padding: 2rem;
  grid-column: 5 / -1;

  display: grid;
  justify-content: start;
}

.sidebar-search {
  border-radius: 5px;
  overflow: hidden;

  &__heading {
    padding: 1rem;
    color: $color-primary-300;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  &__box {
    height: 25rem;
    width: 25rem;
    background-color: $color-grey-250;
    padding: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
