.header {
  background-color: $color-primary-300;
  height: 8rem;
  margin-top: 3rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    width: 120rem;
    margin-left: 3rem;

    display: flex;
    align-items: center;

    letter-spacing: 2px;

    h1 {
      margin-left: 1rem;
    }
  }
}
