.display-odds {
  background-color: $color-grey-650;
  min-width: 110rem;

  &__title {
    height: 7rem;
    padding: 0.5rem;

    display: flex;
    align-items: center;
  }

  //   &__league {}
  //   &__events {}
}
