.article-display-odds {
  background-color: $color-grey-650;
  width: 120rem;

  &__title {
    height: 7rem;
    padding: 0 2rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  &__events {
    background-color: $color-grey-250;
    border-radius: 5px 5px 0 0;
    min-height: 100vh;
  }
}
