.article-display-odds {
  padding: 2rem;

  grid-column: 2 / span 4;

  &__title {
    background-color: $color-grey-650;
    border-radius: 5px 5px 0 0;
    height: 7rem;
    overflow: hidden;
    padding-left: 2rem;

    display: flex;
    align-items: center;

    // font-family: $font-secondary;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__events {
    background-color: $color-grey-250;
    border-radius: 5px 5px 0 0;
    min-height: 100vh;
  }
}
