.icons {
  display: block;

  text-align: center;

  -webkit-transform: rotate(90deg) scale(0.7);
  -moz-transform: rotate(90deg) scale(0.7);
  -o-transform: rotate(90deg) scale(0.7);
  -ms-transform: rotate(90deg) scale(0.7);
  transform: rotate(90deg) scale(0.7);

  &--neds {
    background-color: orangered;
  }

  &--tab {
    background-color: #028953;
  }
}
