.table {
  width: 100%;
  border-bottom: 2px solid $color-primary-300;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

  font-size: 0.85em;
  text-align: center;

  th,
  td {
    padding: 1rem 1.25rem;
  }

  th {
    background-color: $color-grey-450;
  }

  td {
    background-color: $color-grey-250;
    color: $color-black;

    border-bottom: 0.5px dotted $color-black;
  }

  tbody {
    min-height: 100vh;
  }

  // td + td {
  //   border-left: 2px dotted $color-grey-450;
  // }

  &__border-right {
    border-right: 0.5px dotted $color-black;
  }

  &__border-bottom {
    border-bottom: 0.5px solid $color-black;
  }
}
