.table {
  border-bottom: 2px solid $color-primary-300;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 100%;

  font-size: 0.85em;
  text-align: center;

  @include respond(big-desktop) {
    font-size: 0.95em;
  }

  th,
  td {
    padding: 1rem 1.25rem;

    @include respond(big-desktop) {
      padding: 0.75rem 1rem;
    }
  }

  th {
    background-color: $color-grey-450;
  }

  td {
    background-color: $color-grey-250;
    color: $color-black;

    border-bottom: 0.5px dotted $color-black;
  }

  tbody {
    min-height: 100vh;
  }

  &__border-right {
    border-right: 0.5px dotted $color-black;
  }

  &__border-bottom {
    border-bottom: 0.5px solid $color-black;
  }
}
