.table {
  width: 100%;
  border-collapse: collapse;

  text-align: center;

  th {
    background-color: $color-grey-450;
  }

  td {
    background-color: $color-grey-250;
    color: $color-black;
  }

  th,
  td {
    padding: 0.5rem;
  }

  &__bottom-row {
    border-bottom: 0.5px solid $color-black;
  }
}
